@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
  color: #333;
  margin: 0;
  min-height: 100%;
  width: 1280px;
}
html {
  height: 100%;
}
.logo {
  width: 139px;
  margin-left: 70px;
}
.main-container {
  flex-grow: 1;
  width: 1200px;
  margin: 0 auto;
  background-color: white;
}

/* НАВИГАЦИЯ */
.page-header {
  width: 1200px;
  height: 65px;
  background-color: white;
  margin: 0 auto;
}
.main-navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  padding-top: 20px;
  display: block;
  position: relative;
}
.main-navigation {
  display: flex;
  margin: 0 auto;
}
.main-navigation-list {
margin: 0;
margin-left: 30px;
padding: 0;
gap: 34px;
display: flex;
flex-wrap: wrap;
list-style-type: none;
}
.user-navigation-list{
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: flex;
  list-style-type: none;
}
.main-navigation-item:first-child {
  margin-left: 17px;
}
.user-navigation-item:not(:last-child) {
  margin-top: 24px;
  margin-right: 20px;
}
.user-navigation-item:nth-child(2) {
  position: relative;
}
.user-navigation-item:nth-child(2)::after{
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #7DB54F;
  background-image: url(../images/12.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: -10px;
  left: 14px;
}
.user-choice {
  display: block;
  margin: 14px 70px 19px 10px;
  padding: 15px 9px;
  text-align: center;
}
.button {
box-sizing: border-box;
font-size: 16px;
font-weight: 700;
line-height: 20px;
background-color: #756257;
color: #FFF;
border-radius: 4px;
width: 160px;
border: none;
}
.button.user-choice {
  box-sizing: border-box;
  display: inline-block;
  width: 160px;
  height: 37px;
  padding: 0;
  text-decoration: none;
  line-height: 40px;
}
/* СОСТОНИЯ ССЫЛОК */
.main-navigation-link:hover {
color: #756257;
}
.main-navigation-link:active {
color: #7562574D;
}
.current{
  text-decoration: underline;
  text-decoration-color: #756257;
  text-underline-offset: 26px;
  height: 2px;
}
.user-navigation-link:hover .navigation-icon {
  stroke: #756257;
}
.user-navigation-link:active .navigation-icon {
  stroke: #756257;
  opacity: 0.3;
}
.user-choice:hover {
background-color: #615048;
}

.user-choice:active {
  color: #FFFFFF4D;
  background-color: #615048;

}
  .footer-social-link svg:hover {
    stroke: #68A2CA;
    fill: #68A2CA;
  }
  .footer-social-link:focus{
    border-radius: 10px;
border: 3px solid var(--special-cold-light, #83B3D3);
outline: none;
  }
  .footer-social-link:active svg {
    fill: #68A2CA;
    opacity: 0.3;
  }
/* Главная стр */
.description-container {
  text-align: center;
}
 .section-title  {
  font-size: 30px;
  font-weight: 700;
  font-style: normal;
  line-height: 36px;
  color: #000;
  text-transform: uppercase;
  margin: 0 auto;
  }
.description-container .section-title {
  margin-top: 60px;
}

.section-description {
  font-size: 22px;
  line-height: 36px;
  color: #333;
  margin: 0 auto;
}
.description-container .section-description {
  margin-top: 31px;
  margin-bottom: 80px;
}
/* ПРЕИМУЩЕСТВА */
.advantages-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.advantages-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #83B3D31F;
}
.list-blue:first-child {
  background-image: url(../images/—\ №1\ —.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.list-blue:nth-child(2) {
  background-image: url(../images/—\ №2\ —.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.advantages-item:nth-child(3){
  background-image: url(../images/—\ №3\ —.svg);
  background-repeat: no-repeat;
  background-position: 50% 49%;
}
.advantages-item:nth-child(4) {
  background-color: #83B3D333;
  background-image: url(../images/—\ №4\ —.svg);
  background-repeat: no-repeat;
  background-position: 50% 49%;
}
.advantages-item:nth-child(5) {
  background-color: #83B3D333;
  background-image: url(../images/—\ №5\ —.svg);
  background-repeat: no-repeat;
  background-position: 50% 49%;
}
.advantages-item:nth-child(n+3) {
  width: 400px;
  height: 382px;
}
.advantages-sublist {
  display:flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  justify-content: center;
}
.advantages-sublist-item:nth-child(odd) {
  background-color: #83B3D31F;
}
.advantages-sublist-item {
  width: 400px;
  height: 385px;
}
.img-advantages-sublist {
  margin: 90px 166px 16px 166px;
}

.list-blue {
  width: 400px;
  background-color: #83B3D3;
}

.advantages-title-blue {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFF;
  text-align: center;
  margin-top: 98px;
}
.advantages-title, .advantages-title-sublist {
color: #000;
text-align: center;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 28px;
text-transform: uppercase;
margin: 0;
}
.advantages-title {
  margin-top: 94px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
.advantages-title-sublist {
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
}
.advantages-description {
  display: inline-block;
text-align: center;
padding: 0;
width: 250px;
height: 42px;
margin: 0;
margin-bottom: 30px;
}
.advantages-description-sublist {
  text-align: center;
  margin: 0;
  margin-left: 75px;
  width: 250px;
  }
.advantages-description-blue {
  color: #FFF;
  text-align: center;
  margin-top: 80px;
  margin-left: 90px;
  margin-right: 90px;
}
/* Бронирование */
.reserve-hotels {
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 26px;
width: 1200px;
/* height: 417px; */
 margin: 0 auto;
}
.reserve-hotels .section-title {
  margin: 0;
  margin-top: 90px;
  margin-bottom: 29px;
}
.reserve-section-description{
  color: var(--basic-dark, #333);
text-align: center;
font-family: PT Sans;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 26px;
width: 720px;
margin-left: auto;
margin-right: auto;
}
 .search-button {
  display: block;
color:#FFF;
background-color: #756257;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 66px;
text-transform: uppercase;
text-decoration: none;
width: 575px;
height: 60px;
border-radius: 10px;
margin-top: 56px;
margin-left: 312px;
margin-bottom: 93px;
/* padding-top: 25px; */
}
.search-button:hover {
  background-color: #615048;
  }
  .search-button:focus{
border: 3px solid var(--special-cold-light, #83B3D3);
background: var(--special-warm-dark, #615048);
outline: none;
  }
  .search-button:active {
    color: #FFFFFF4D;
    background-color: #615048;
  }
/* ПОДПИСКА */
.newsletter-form {
  display: flex;
  justify-content: center;
}
.subscribe {
color: #FFF;
background-image: url("../images/sedona_background.jpg");
width: 1200px;
height: 410px ;
text-align: center;
margin: 0;
}
 h2.section-title {
  color: #FFF;
  margin: 0;
 padding-top: 94px;
 margin-bottom: 29px ;
}
.section-title.catalog {
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
  color: #000;
}
p.subscribe-description {
color:  #FFF;
text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 26px;
margin: 0;
margin-bottom: 46px;
}
p.catalog-subscribe-description {
  text-align: center;
font-size: 22px;
font-weight: 400;
line-height: 26px;
margin: 0;
margin-bottom: 50px;
}
input.field {
  width: 600px;
  height: 55px;
  background: #F2F2F2;
  border: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
input.field:hover{
background: var(--basic-gray, #E6E6E6);
}
input.field:focus{
border: 3px solid var(--special-cold-light, #83B3D3);
background: var(--basic-gray, #E6E6E6);
outline: none;
}
.newsletter-button {
  margin: 0;
  width: 200px;
  height: 60px;
  border-top-right-radius: 10px ;
  border-bottom-right-radius: 10px ;
  color: var(--basic-white, #FFF);
text-align: center;
font-family: PT Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 130% */
text-transform: uppercase;
border: none;
}
.newsletter-button:hover{
  background-color:  #68A2CA;
}
.newsletter-button:focus{
  background-color: #68A2CA;
  border: 3px solid#756257;
  outline: none;
}
.newsletter-button:active {
  background-color: #68A2CA;
  color: #FFF;
  opacity: 0.3;
}
/* ПОДВАЛ */
.footer-container {
  width: 1200px;
  height: 120px;
  display: flex;
  margin: 0 auto;
  background-color: #FFF;
  justify-content: space-around;
 align-items: center;
}
.footer-container.catalog {
  padding-top: 140px;
}
.footer-social-list {
display: flex;
flex-wrap: wrap;
padding: 0;
gap: 5px;
margin-left: 60px;
list-style-type: none;
}
.footer-social-item{
padding: 0;
  margin: 0;
  margin-bottom: 8px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  border: 3px;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
}
.footer-social-item:nth-child(3n) {
  margin-right:0;
}
.footer-logo {
  width: 115px;
  margin-right: 72px;
}
.footer-logo svg:hover {
  stroke: #756257;
  fill: #756257;
}
.footer-logo:focus {
border-radius: 10px;
border: 3px solid var(--special-cold-light, #83B3D3);
outline: none;
}
.footer-logo svg:active {
  stroke: #756257;
  fill: #756257;
  opacity: 0.3;
}
a[href^="tel:"] {
  margin: 0 auto;
  font-size: 40px;
 font-style: normal;
 font-weight: 400;
 line-height: 40px;
 text-transform: uppercase;
 color: #000;
 text-decoration: none;
}
a[href^="tel:"]:hover {
color: #756257;
}
a[href^="tel:"]:focus {
border-radius: 10px;
border: 3px solid var(--special-cold-light, #83B3D3);
outline: none;
}
a[href^="tel:"]:active {
  color: #756257;
  opacity: 0.3;
}
/* CATALOG */
h1.hotels {
  margin: 0;
  margin-left: 71px;
  padding: 0;
  padding-top: 40px;
  width: 528px;
  height: 68px;
}
.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 73px;
  margin-bottom: 50px;
  gap: 10px;
}
.breadcrumbs-item {
  font-size: 16px;
  font-weight: 400;
  }

.breadcrumbs-link {
  /* margin-right: 26px; */
  color: #FFF;
  text-decoration: none;
}
.options {
  width: 1200px;
  height: 408px;
  background-image: url("../images/catalog-background1.png");
}
.options-filter-group{
  border: none;
  padding: 0;
  margin: 0;
}
.search-block {
display: flex;
width: 100%;
height: auto;
color: #FFF;
background-repeat: no-repeat;
margin-left: 71px;
}
.infrastraction-list {
  width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 67px;
  list-style-type: none;
}
.house-list {
  width: 150px;
  padding: 0;
  margin: 0;
  margin-right: 162px;
  list-style-type: none;
}
.infrastraction-item:not(:last-child){
  margin-bottom: 13px;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.button-apply {
  width: 160px;
  height: 48px;
  color: #FFF;
  background-color: #83B3D3;
  font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
margin-bottom: 20px;
border-radius: 5px;
}
.button-apply:hover {
  background-color: #68A2CA;
}
.button-apply:focus {
  border-radius: 4px;
border: 3px solid var(--basic-white, #FFF);
background: var(--special-cold-dark, #68A2CA);
outline: none;
}
.button-apply:active {
  background-color: #68A2CA;
  opacity: 0.3;
}
.button-reset {
  color: #FFF;
  background-color:rgba(28,28,28,0);
}
.button-reset:hover {
  opacity: 0.6;
}
.button-reset:focus {
  border-radius: 4px;
border: 3px solid var(--special-cold-light, #83B3D3);
outline: none;
}
.button-reset:active {
  opacity: 0.3;
}
/* HOTELS */
.select-control {
  width: 284px;
  height: 46px;
  border-radius: 4px;
  border: 2px solid var(--basic-gray, #E6E6E6);
}
.select-control:hover{
border: 2px solid var(--special-cold-light, #83B3D3);
}
.select-control:focus{
  border: 2px solid var(--special-cold-light, #83B3D3);
  outline: none;
  }
.select-control:active{
border: 2px solid var(--basic-gray, #E6E6E6);
color: #E6E6E6;
}
summary {
  position: relative;
  margin-left: 19px;
  margin-top: 12px;
  list-style-type: none;
}
summary::before{
  position: absolute;
  content: url(../images/variant=arrow.svg);
  transform: translate(225px);
}
details[open]{
  width: 284px;
  height: 150px;
  border-radius: 4px;
  border: 2px solid var(--basic-gray, #E6E6E6);
  transform: translateY(50px);
  z-index: 1;
  background-color: white;
}
.criteria a {
  text-decoration: none;
  display: block;
  color: #000;
  margin-top: 12px;
  margin-left: 20px;
}
.find-hotels-container {
  display: flex;
  margin-left: 72px;
  margin-right: 72px;
  align-items: center;
 padding: 0;
}
.hotels-amount {
  display: block;
  color: var(--basic-black, #000);
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-right: auto;
margin-top: 50px;
margin-bottom: 56px;
}
.view-container {
  display: flex;
  gap: 8px;
  list-style-type: none;
  padding: 0;
  margin-left: 80px;
}

.view-link {
  width: 48px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #f2f2f2;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.view-link-current {
 border-radius: 4px;
border: 2px solid var(--basic-black, #000);
}
.view-link:hover {
  border-radius: 4px;
border: 2px solid var(--special-cold-light, #83B3D3);
}
.view-link:focus {
border-radius: 4px;
border: 2px solid  #83B3D3;
outline: none;
}
.view-link:active {
border-radius: 4px;
border: 2px solid var(--basic-gray, #E6E6E6);
}
/* КАРТОЧКИ */

.hotels-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 18px;
  row-gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0 72px 34px 72px;
}

.hotel-item {
  display: grid;
  grid-template-rows:  208px min-content min-content 37px 37px ;
  grid-template-columns: 140px 160px;
  margin: 20px;
  row-gap: 16px;
  /* width: 340px; */
  /* height: 438px; */
  padding: 0;
}
.hotel-card {
  grid-column: 1/2;
  grid-row: 1;
}
.hotel-card:hover {
  opacity: 0.6;
}
.hotel-card:active {
  opacity: 0.3;
}
.subscribe-catalog {
  text-align: center;
}
.hotels {
color: #FFF;
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.options-filter-title {
  color:  #FFF;
font-size: 20px;
font-weight: 700;
}
.button-reset {
font-size: 18px;
font-weight: 400;
line-height: normal;
}
.newsletter-button {
  color: #FFF;
  background-color: #83B3D3;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  }
  .catalog-subscribe-description{
    color: #333;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
  }

    /* КАРТОЧКИ НАПОЛНЕНИЕ */
  .likes {
    color:  #FFF;
    background-color: #83B3D3;
    font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  border: 0;
  grid-column: 2;
  grid-row: 4;
  justify-self: end;
  }
  .button{
    width: 133px;
    height: 37px;
    border: 0;
    grid-column: 1;
    grid-row: 4;
    color: var(--basic-white, #FFF);
text-align: center;
font-family: PT Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
  }
  .button:hover {
  background-color:  #615048;
  }
  .button:focus{
border: 3px solid var(--special-cold-light, #83B3D3);
background: var(--special-warm-dark, #615048);
outline: none;
  }
  .button:active{
    background-color: #615048;
    fill-opacity: 0.3;
  }
  .likes:hover {
border: 1px solid var(--special-warm-light, #756257);
background: var(--special-cold-dark, #68A2CA);
  }
  .likes:focus {
border: 3px solid var(--special-warm-light, #756257);
background: var(--special-cold-dark, #68A2CA);
outline: none;
  }
  .likes:active {
border: 1px solid  #756257;
background: #68A2CA;
opacity: 0.3;
  }
  .chosen{
background: var(--special-neutral-light, #7DB54F);
  }
  .chosen:hover{
    background: var(--special-neutral-dark, #6C9E42);
  }
  .chosen:focus{
border: 3px solid var(--special-warm-light, #756257);
background: var(--special-neutral-dark, #6C9E42);
  }
  .chosen:active{
background: var(--special-neutral-dark, #6C9E42);
opacity: 0.3;
  }
  .hotel-card-title{
  color:  #000;
  font-size: 24px;
  font-weight: 700;
  grid-column: 1/4;
  grid-row: 2;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  }

.card-rate{
  border-radius: 4px;
background: var(--basic-light, #F2F2F2);
width: 160px;
font-family: PT Sans;
font-size: 16px;
  text-transform: uppercase;
  grid-column: 2;
  grid-row: 5;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 10px;
  text-align: center;
}

.hotel-description {
  width: 133px;
  line-height: 23px;
  grid-column: 1/2;
  grid-row: 3;
  margin: 0;
}
.hotel-price{
  width: 143px;
  line-height: 23px;
  grid-column: 2;
  grid-row: 3;
  margin: 0;
  justify-self: end;
}
.star {
  background-image: url(../images/star.svg);
  background-repeat: repeat-x;
  background-position: 0 50%;
  height: 37px;
  width: 18px;
  margin: 0;
  grid-row: 5;
  grid-column: 1;
}
.star-four{
  width: 72px;
}
.star-three{
  width: 54px;
}
.star-two{
width: 36px;
}
/* ПАГИНАЦИЯ */
  .pagination-show-more {
    display: block;
  color:  #FFF;
  background-color: #83B3D3;
  font-family: PT Sans;
font-size: 20px;
font-weight: 700;
text-transform: uppercase;
width: 620px;
height: 60px;
border: 0;
border-radius: 4px;
margin: 25px auto 30px auto;
padding: 0;
  }
  .pagination-show-more:hover{
    background-color: #68A2CA;
  }
  .pagination-show-more:focus{
    background-color: #68A2CA;
    border: 3px solid #756257;
    outline: none;
  }
  .pagination-show-more:active{
    background-color: #68A2CA;
    opacity: 0.3;
  }
.top-line {
  border-top: 1px solid #E6E6E6;
  width: 1055px;
  margin: auto;
}
.bottom-line {
  border-bottom: 1px solid #E6E6E6;
  width: 1055px;
  margin: auto;
}
  .pagination {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .main-pagination-container {
    display: flex;
    justify-content: space-between;
    margin: 30px 72px 72px 72px;

  }
  .pagination-container {
    display: flex;
    margin: 0;
    list-style-type: none;
    gap: 8px;
  }
  .pagination-link{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  line-height: 16px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #82B3D3;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  }
  .pagination-link:hover{
    background-color: #68A2CA;
  }
  .pagination-link:focus{
border: 3px solid var(--special-warm-light, #756257);
background: var(--special-cold-dark, #68A2CA);
outline: none;
  }
  .pagination-link:active{
    opacity: 0.3;
    background-color: #68A2CA;
  }
  .pagination-current{
    background-color: #f2f2f2;
    color: #000;
  }
  .pagination-select {
    display: flex;
    align-items: center;
    gap: 51px;
  }
.select {
  width: 160px;
  height: 46px;
  border-radius: 4px;
border: 2px solid var(--basic-gray, #E6E6E6);
}
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/* БЕГУНКИ */
.range {
  width: 287px;
  margin-right:80px ;
  display: flex;
  flex-wrap: wrap;
}
.range-slider {
  position: relative;
  margin-top: 30px;
  width: 287px;
height: 4px;
background-color: rgba(255,255,255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: white;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.range-toggle:hover{
  background: var(--basic-white, #FFF);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.range-toggle:focus{
border: 3px solid var(--special-cold-light, #83B3D3);
background: var(--basic-white, #FFF);
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.range-toggle:active{
border: 2px solid var(--special-cold-light, #83B3D3);
background: var(--basic-white, #FFF);
box-shadow: 0px 7px 15px 0px rgba(0, 0, 0, 0.40);
}
.toggle-min{
  position: absolute;
  top: -10px;
  left: -5px;
}
.toggle-max{
  top: -10px;
  right: -3px;
}
.options-filter-title {
  margin-bottom: 34px;
}
.range-input {
  margin: 0;
  padding-left: 20px;
  width: 120px;
  height: 40px;
  background-color: transparent;
  color: white;
border: 2px solid var(--basic-white, #FFF);
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.range-input-min {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
border-right: none;
}
.range-input-max {
  border-top-right-radius:4px ;
  border-bottom-right-radius: 4px;
  margin-left: -5px;
}
/* ЧЕКБОКСЫ */
.control {
  position: relative;
  display: block;
  padding-left: 39px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 4px;
background: var(--basic-white, #FFF);
}
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background-color: #242424;
  border-radius: 50%;
  content: "";
}
.control-mark
.control-input[type="chekcbox"]:checked {
  background-image: url(../images/catalog/tick\ 1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
/* .control-input[type="checkbox"]:checked + .control-mark::before,
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  top: 8px;
  left: 2px;
  width: 10px;
  height: 2px;
  background-color: #3F5E72;
  content: "";
}
.control-input[type="checkbox"]:checked + .control-mark::before {
  transform: rotate(75deg);
}
.control-input[type="checkbox"]:checked + .control-mark::after {
  transform: rotate(-65deg);
} */
   /* МОДАЛЬНОЕ ОКНО  */
   .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #F2F2F2CC;
  }
  .modal {
    position: relative;
    margin: auto;
    padding: 0;
    border-radius: 30px;
background: var(--basic-white, #FFF);
box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.15);
width: 715px;
height: 561px;
  }
  .modal-content{
    width: 575px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 62px;
  }
  .modal-close-button {
    position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
width: 53px;
height: 53px;
fill: var(--basic-light, #F2F2F2);
border-radius: 50%;
border: none;
background-image: url(../images/modal-close\ 1.svg);
background-repeat: no-repeat;
background-position: center;
  }
.modal-title{
  color: var(--basic-black, #000);
font-family: PT Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 133.333% */
text-transform: uppercase;
margin-bottom: 55px;
}
p.field-group{
  margin: 0;
  margin-bottom: 40px;
}
.people {
  display: flex;
  gap: 56px;
}
.people-form-field{
  width: 133px;
  height: 50px;
  background-color:#f2f2f2 ;
  color: black;
  border: none;
  border-radius: 4px;
}
span.modal-search{
  font-weight: bold ;
  margin-right: 40px;
}
span.people-search{
  font-weight: bold;
  margin-right: 55px;
}
.people-search.child::after{
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  background-color: #83B3D3;
  border-radius: 50%;
  bottom: 185px;
  right: 235px;
}
button.modal-button {
width: 575px;
height: 60px;
border: none;
border-radius: 5px;
background-color: #82B3D3;
color: var(--basic-white, #FFF);
text-align: center;
font-family: PT Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 200% */
text-transform: uppercase;
}
input.searching-form-field{
  box-sizing: border-box;
  width: 420px ;
  height: 50px;
  border-radius: 4px;
background: var(--basic-light, #F2F2F2);
border: none;
padding: 18px;
}

